<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
      <li class="{% if page.title == 'Blog' %}current{% endif %}">
        <a href="{{site.baseurl}}/blog/">All Blogs</a>
      </li>
      <li class="{% if page.title == 'Astrophotography' %}current{% endif %}">
        <a href="/blog/astrophotography/">Astrophotography</a>
      </li>
    </ul>
    

    <h4>Astrophotography</h4>
    <ul>
      {% for post in site.categories.astrophotography limit:5 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
          <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <h4>Gadgets</h4>
    <ul>
      {% for post in site.categories.gadgets limit:5 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
          <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <h4>Other Topics</h4>
    <ul>
        {% for post in site.posts %}
        {% unless post.categories contains 'astrophotography' 
            || post.categories contains 'gadgets'        
          %}
        <li class="{% if page.title == post.title %}current{% endif %}">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>
  </aside>
</div>
