<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{site.baseurl}}/">Home</a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="{{site.baseurl}}/blog/">Blog</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="{{site.baseurl}}/docs/home/">Docs</a>
  </li>
  <li class="{% if page.url contains '/links/' %}current{% endif %}">
    <!-- <a href="{{site.baseurl}}/links/home/">Links</a> -->
    <a href="http://www.grandelatte.com" target="_blank">Links →</a>
  </li>
</ul>
