---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$sans-serif: "Fira Sans", sans-serif !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.toc {
  .nav__title {
    color: #333;
  }
}

.navicon {
  background: $navicon-link-color-hover;

  &:before,
  &:after {
    background: $navicon-link-color-hover;
  }
}

figcaption {
  font-style: italic;
}



/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  border-bottom: 0px solid $border-color;
  background-color: $darker-background-color;

  &__inner-wrap {
    background-color: $darker-background-color;
  }
}

.site-title {
  background-color: $darker-background-color;
  
}

.greedy-nav {
  background-color: $darker-background-color;
}

.masthead__menu {
  background-color: $darker-background-color;
  

  .site-nav {
    background-color: $darker-background-color;

    @include breakpoint($small) {
      background-color: $darker-background-color;
      
      float: right;
    }
  }

  ul {
    background-color: $darker-background-color;
  }
}

.masthead__menu-item {
  background-color: $darker-background-color;
}
